
<html>
    <header>
    <div class="bg-slate-900 w-full h-16">
    <div class="float-right mr-96 mt-4  ">
        <script src="https://cdn.tailwindcss.com"></script>
        <nav class="mr-24">
            
            <a href="/" class="p-4 font-bold hover:text-white text-gray-200">Home</a>
            <a href="/balance/" class="p-4 font-bold hover:text-white  text-gray-200">Transfer</a>
            <a href="/history/" class="p-4 font-bold hover:text-white  text-gray-200">History</a>

           
        </nav>
    </div>
    </div>
</header>

      {% block body %}
      
      
      
      {% endblock  %}

    


</html>